$blue-color: #1F2041;
$grey-color: #E1E2EF;
$pink-color: #e45772;
$yellow-color: #fed049;
$base-font-family: 'Lato', sans-serif;
$font-size-xxs: 12px;
$font-size-xs: 13px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;
$font-size-heading: 50px;